<html>
<head>
  <!-- Bootstrap Core CSS -->
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <!-- Font-Awesome -->
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

  <style type="text/css">
  html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #1b1b1b;
    background-image: -moz-linear-gradient(top, #222222, #111111);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
    background-image: -webkit-linear-gradient(top, #222222, #111111);
    background-image: -o-linear-gradient(top, #222222, #111111);
    background-image: linear-gradient(to bottom, #222222, #111111);
    background-repeat: repeat-x;
    border-color: #252525;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
  }

  .container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
  }
  .container .text-muted {
    margin: 20px 0;
  }

  .navbar {
    background-color: #000; /* background color will be black for all browsers */
    background-image: none;
    background-repeat: no-repeat;
    filter: none;
  }
  </style>
</head>
<body>
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="index.php">Rooms@CU</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar">
          <li><a href="ViewRoom.html">View Room</a></li>
          <li class="active"><a href="SubmitRoom.html">Submit Review</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <!--
  room-num
  building
  floor
  room-type

  lottery-num
  current-year

  view-rating
  heating-rating
  radiator
  closet
  drawers
  num-windows
  flooring-type
-->

<div class="container-fluid">
  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <div class="panel panel-default">
        <div class="panel-body">
          <form action="/submit" method="POST">
            <div class="form-group">
              <label for="Building">Building</label>
              <select class="form-control" id="Building" name="building">
                <option></option>
              </select>
            </div>
            <div class="form-group">
              <label for="Floor">Floor</label>
              <select class="form-control" id="Floor" name="floor">
                <option></option>
              </select>
            </div>
            <div class="form-group">
              <label for="room-num">Room Number</label>
              <input type="text" class="form-control" id="room-num" name="room-num" placeholder="Enter Room Number">
            </div>
            <div class="form-group">
              <label for="room-num">Room Type</label>
              <select class="form-control" name="room-type">
                <option>Single</option>
                <option>Double</option>
              </select>
            </div>
            <hr>
            <div class="form-group">
              <label for="room-num">Lottery Number</label>
              <input type="text" class="form-control" id="lottery-num" name="lottery-num" placeholder="Lottery Number">
            </div>
            <div class="form-group">
              <label for="room-num">Current Year</label>
              <select class="form-control" name="current-year">
                <option>Freshman</option>
                <option>Sophomore</option>
                <option>Junior</option>
                <option>Senior</option>
              </select>
            </div>
            <hr>
            <div class="form-group">
              <label for="radio">How many windows does your room have?</label>
              <select class="form-control" name="num-windows">
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
            </div>
            <div class="form-group">
              <label for="radio">How would you rate the view on your room?</label>
              <label class="radio-inline">
                <input type="radio" name="view-rating" id="view-rating" value="1"> 1
              </label>
              <label class="radio-inline">
                <input type="radio" name="view-rating" id="view-rating" value="2"> 2
              </label>
              <label class="radio-inline">
                <input type="radio" name="view-rating" id="view-rating" value="3"> 3
              </label>
              <label class="radio-inline">
                <input type="radio" name="view-rating" id="view-rating" value="4"> 4
              </label>
              <label class="radio-inline">
                <input type="radio" name="view-rating" id="view-rating" value="5"> 5
              </label>
            </div>
            <div class="form-group">
              <label for="radio">Is there a standing radiator?</label>
              <select class="form-control" name="radiator">
                <option>Yes</option>
                <option>No</option>
              </select>
            </div>
            <div class="form-group">
              <label for="radio">How would you rate the heating in your room?</label>
              <label class="radio-inline">
                <input type="radio" name="heater-rating" id="heater-rating" value="1"> 1
              </label>
              <label class="radio-inline">
                <input type="radio" name="heater-rating" id="heater-rating" value="2"> 2
              </label>
              <label class="radio-inline">
                <input type="radio" name="heater-rating" id="heater-rating" value="3"> 3
              </label>
              <label class="radio-inline">
                <input type="radio" name="heater-rating" id="heater-rating" value="4"> 4
              </label>
              <label class="radio-inline">
                <input type="radio" name="heater-rating" id="heater-rating" value="5"> 5
              </label>
            </div>
            <div class="form-group">
              <label for="radio">Walk in or standing closet?</label>
              <select class="form-control" name="closet">
                <option>Walk-in</option>
                <option>Standing</option>
              </select>
            </div>
            <div class="form-group">
              <label for="radio">How many drawers in your dresser?</label>
              <select class="form-control" name="dresser">
                <option>3</option>
                <option>5</option>
              </select>
            </div>
            <div class="form-group">
              <label for="radio">What type of flooring do you have?</label>
              <select class="form-control" name="flooring-type">
                <option>Wood</option>
                <option>Tile</option>
                <option>Carpet</option>
              </select>
            </div>
            <hr>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div>
        </div
      </div>
    </div>

    <footer class="footer footer-inverse">
      <div class="container">
        <p class="text-muted">Made by Amar Dhingra &amp; David Watkins &copy; 2015</p>
      </div>
    </footer>

    <!-- JQuery -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Boostrap -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <script type="text/javascript">

    $(document).ready(function() {
        //Load all the buildings into the first drop down
        function loadBuildings() {
          $.ajax({
            type: 'POST',
            url: '/getBuildings',
            dataType: 'text',
            success: function(data) {
              $('#Building').html("<option></option>");
              data = data.replace(/\'/g, '').replace('[', '').replace(']', '').split(',');
              data.forEach(function(building) {
                $('#Building').append("<option>" + building + "</option>");
              });
            },
            error: function(jqXHR, textStatus, errorThrown) {
              displayError(errorThrown);
            }
          });
        }
        loadBuildings();

        //When a building is chosen reload floor list
        $("#Building").change(function() {
          var building = $('#Building option:selected').text().trim();

          if(building != "") {
            $.ajax({
              type: 'POST',
              url: '/getFloors/' + building,
              dataType: 'text',
              success: function(data) {
                $('#Floor').html("<option></option>");
                data = data.replace(/\'/g, '').replace(/u/g, '').replace('[', '').replace(']', '').split(',');
                data.forEach(function(floor) {
                    $('#Floor').append("<option>" + floor + "</option>");
                });
              },
              error: function(jqXHR, textStatus, errorThrown) {
                displayError(errorThrown);
              }
            });
          }
        });
      });

    </script>

  </body>
  </html>
