<html>
<head>
  <!-- Bootstrap Core CSS -->
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <!-- Font-Awesome -->
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

  <style type="text/css">
  html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #1b1b1b;
    background-image: -moz-linear-gradient(top, #222222, #111111);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
    background-image: -webkit-linear-gradient(top, #222222, #111111);
    background-image: -o-linear-gradient(top, #222222, #111111);
    background-image: linear-gradient(to bottom, #222222, #111111);
    background-repeat: repeat-x;
    border-color: #252525;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
  }

  .container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
  }
  .container .text-muted {
    margin: 20px 0;
  }

  .navbar {
    background-color: #000; /* background color will be black for all browsers */
    background-image: none;
    background-repeat: no-repeat;
    filter: none;
  }
  </style>
</head>
<body>
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="">Rooms@CU</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar">
          <li class="active"><a href="ViewRoom.html">View Room</a></li>
          <li><a href="SubmitRoom.html">Submit Review</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="container-fluid">
    <!-- Select Building, Room, Floor -->
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="form-group">
              <label for="Building">Building</label>
              <select class="form-control" id="Building">
                <option></option>
              </select>
            </div>
            <div class="form-group">
              <label for="Floor">Floor</label>
              <select class="form-control" id="Floor">
                <option></option>
              </select>
            </div>
            <div class="form-group">
              <label for="Room-Number">Room Number</label>
              <input type="input" class="form-control" id="Room-Number" placeholder="#">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Select View rooms as tiled panes -->
    <div class="row">
      <div class="col-md-offset-1 col-md-10" id="Data-Viewer">

      </div>
    </div>
  </div>

  <footer class="footer footer-inverse">
    <div class="container">
      <p class="text-muted">Made by Amar Dhingra &amp; David Watkins &copy; 2015</p>
    </div>
  </footer>

  <!-- JQuery -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <!-- Boostrap -->
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  <script type="text/javascript">

  $(document).ready(function() {
    function displayError(message) {
      $('#Data-Viewer').html(
        '<div class="alert alert-danger" role="alert">' +
        '<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>' +
        '<span class="sr-only">Error:</span>'+
        message
        +'</div>');
      }

      //Load all the buildings into the first drop down
      function loadBuildings() {
        $.ajax({
          type: 'POST',
          url: '/getBuildings',
          dataType: 'text',
          success: function(data) {
            $('#Building').html("<option></option>");
            data = data.replace(/\'/g, '').replace('[', '').replace(']', '').split(',');
            data.forEach(function(building) {
              $('#Building').append("<option>" + building + "</option>");
            });
          },
          error: function(jqXHR, textStatus, errorThrown) {
            displayError(errorThrown);
          }
        });
      }
      loadBuildings();

      //When a building is chosen reload floor list
      $("#Building").change(function() {
        var building = $('#Building option:selected').text().trim();

        if(building != "") {
          $.ajax({
            type: 'POST',
            url: '/getFloors/' + building,
            dataType: 'text',
            success: function(data) {
              $('#Floor').html("<option></option>");
              data = data.replace(/\'/g, '').replace(/u/g, '').replace('[', '').replace(']', '').split(',');
              data.forEach(function(floor) {
                  $('#Floor').append("<option>" + floor + "</option>");
              });
            },
            error: function(jqXHR, textStatus, errorThrown) {
              displayError(errorThrown);
            }
          });
        }
      });

      function UrlExists(url) {
        var http = new XMLHttpRequest();
        http.open('HEAD', url, false);
        http.send();
        return http.status != 404;
      }

      var getFloorPlan = function() {
        var building = $('#Building option:selected').text().trim(),
        floor = $('#Floor option:selected').text().trim();

        if(building != "" && floor != "") {
          if(UrlExists("/getImage/' + building + '/' + floor + "))
            $('#Data-Viewer').html('<img src="/getImage/' + building + '/' + floor + '">');
          else
          $('#Data-Viewer').html('');
        }
      };
      $("#Floor").change(getFloorPlan);

      $("#Room-Number").bind("change keyup", function() {
        var building = $('#Building option:selected').text().trim(),
        floor = $('#Floor option:selected').text().trim(),
        room = $('#Room-Number').val().trim();
        getFloorPlan();
        if(building != "" && floor != "" && room != "") {
          $.ajax({
            type: 'POST',
            url: '/getRoom/' + building + '/' + floor + '/' + room,
            dataType: 'json',
            success: function(data) {
              if(data.length == 0) {
                displayError("Not a valid room number");
              }
              else {
                data = data.replace(/\'/g, '').replace('[', '').replace(']', '').split(',');
                data.forEach(function(review) {

                  var getRoR = function(title, index) {
                    return '<p>' + title + ' - ' + review[index] + '</p>';
                  }

                  $('#Data-Viewer').prepend(
                    '<div class="panel panel-default">' +
                    '<div class="panel-body">' +
                    getRoR('Lottery #', 'lottery-number') +
                    getRoR('Point Value', 'point-value') +
                    getRoR('View Rating', 'view-rating') +
                    getRoR('Heating', 'heating') +
                    getRoR('Radiator', 'radiator') +
                    getRoR('AC', 'ac') +
                    getRoR('Closet', 'closet') +
                    getRoR('Number of Windows', 'num-windows') +
                    getRoR('Flooring Type', 'flooring') +
                    getRoR('Room Type', 'room-type') +
                    getRoR('Date', 'date') +
                    '</div>' +
                    '</div>'
                  );
                });
              }
            },
            error: function(jqXHR, textStatus, errorThrown) {
              displayError(errorThrown);
            }
          });
        }
      });
    });

    </script>
  </body>
  </html>
