<div layout="column" layout-padding style="height: 100vh; overflow-y: auto">
    <!-- Stuff we need to do:
         Room Type
         Enter in rooms
         Windows
         Walk in closet
         radiator/air conditioning?-->
    <div ng-controller="formCtrl">
        <md-content layout-padding>
            <form name="reviewForm" novalidate>

                <h1>Enter Room {{RoomNumber}} Information</h1>

                Building:
                <md-select placeholder="Select Building" name="building" ng-model="form.building" required>
                    <md-option ng-repeat="building in getBuildings()" value="{{building}}">{{building}}</md-option>
                </md-select>
                <span class="error" ng-messages="reviewForm.building.$error" ng-if="displayErrors">
                    <span ng-message="required">Please select a building to review</span>
                </span>
                <br>
                Floor:
                <md-select placeholder="Select Floor" name="floor" ng-model="form.floor" required>
                    <md-option ng-repeat="floor in getFloors()" value="{{floor}}">{{floor}}</md-option>
                </md-select>
                <span class="error" ng-messages="reviewForm.floor.$error" ng-if="displayErrors">
                    <span ng-message="required">Please select a floor to review</span>
                </span>
                <br>
                Room:
                <md-select placeholder="Select Room" name="room" ng-model="form.room" required>
                    <md-option ng-repeat="room in getRooms()" value="{{room}}">{{room}}</md-option>
                </md-select>
                <span class="error" ng-messages="reviewForm.room.$error" ng-if="displayErrors">
                    <span ng-message="required">Please select a room to review</span>
                </span>
                <br>
                Year:
                <md-select placeholder="Year" name="year" ng-model="form.year" required>
                    <md-option ng-repeat="year in getYears()" value="{{year.text}}">{{year.text + ' (' + year.pointValue + ')'}}</md-option>
                </md-select>
                <span class="error" ng-messages="reviewForm.year.$error" ng-if="displayErrors">
                    <span ng-message="required">Please select what year you lived in the room</span>
                </span>
                <div layout="row">
                    <span class="input-container-align" style="">Lottery Number:</span>
                    <md-input-container name="lottery" md-no-float required>
                        <input ng-model="form.lottery" name="lottery" type="number" min="1" max="3000">
                        <div class="error" ng-messages="reviewForm.lottery.$error" ng-if="displayErrors">
                            <span ng-message="required">Required</span>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row">
                    <span class="radio-group-align">Rate your room's heating:</span>
                    <md-radio-group ng-model="user.heaterRating" layout="row">
                        <md-radio-button value="1">1</md-radio-button>
                        <md-radio-button value="2">2</md-radio-button>
                        <md-radio-button value="3">3</md-radio-button>
                        <md-radio-button value="4">4</md-radio-button>
                        <md-radio-button value="5">5</md-radio-button>
                    </md-radio-group>
                </div>
                <div layout="row">
                    <span class="radio-group-align">Rate your room's view:</span>
                    <md-radio-group ng-model="user.viewRating" layout="row">
                        <md-radio-button value="1">1</md-radio-button>
                        <md-radio-button value="2">2</md-radio-button>
                        <md-radio-button value="3">3</md-radio-button>
                        <md-radio-button value="4">4</md-radio-button>
                        <md-radio-button value="5">5</md-radio-button>
                    </md-radio-group>
                </div>
                <div layout="row">
                    <span class="radio-group-align">What type of flooring do you have?</span>
                    <md-radio-group ng-model="user.heaterRating" layout="row">
                        <md-radio-button value="Wood">Wood</md-radio-button>
                        <md-radio-button value="Carpet">Carpet</md-radio-button>
                        <md-radio-button value="Tile">Tile</md-radio-button>
                    </md-radio-group>
                </div>
                <md-input-container flex>
                    <label>Review</label>
                    <textarea ng-model="user.review"></textarea>
                </md-input-container>

                <div align="right">
                    <md-button class="md-primary md-raised" ng-click="cancel()">cancel</md-button>
                    <md-button class="md-primary md-raised" ng-click="submitForm()">submit</md-button>
                </div>
            </form>
        </md-content>
    </div>
</div>
