<div layout="column" layout-padding style="height: 100vh; overflow-y: auto">
    <!-- Stuff we need to do:
         Room Type
         Enter in rooms
         Windows
         Walk in closet
         radiator/air conditioning?-->
    <div ng-controller="formCtrl">
        <md-content layout-padding>
            <form name="userForm">
                <h1>Enter Room {{RoomNumber}} Information</h1>
                <md-select placeholder="Select Building" ng-model="user.building">
                    <md-option ng-repeat="building in getBuildings()" value="{{building}}">{{building}}</md-option>
                </md-select>
                <md-select placeholder="Select Floor" ng-model="user.floor">
                    <md-option ng-repeat="floor in getFloors()" value="{{floor}}">{{floor}}</md-option>
                </md-select>
                <md-select placeholder="Select Room" ng-model="user.room">
                    <md-option ng-repeat="room in getRooms()" value="{{room}}">{{room}}</md-option>
                </md-select>
                <p>Rate your room's heating:</p>
                <md-radio-group ng-model="user.heaterRating" layout="row">
                    <md-radio-button value="1">1</md-radio-button>
                    <md-radio-button value="2">2</md-radio-button>
                    <md-radio-button value="3">3</md-radio-button>
                    <md-radio-button value="4">4</md-radio-button>
                    <md-radio-button value="5">5</md-radio-button>
                </md-radio-group>
                <p>Rate your room's view:</p>
                <md-radio-group ng-model="user.viewRating" layout="row">
                    <md-radio-button value="1">1</md-radio-button>
                    <md-radio-button value="2">2</md-radio-button>
                    <md-radio-button value="3">3</md-radio-button>
                    <md-radio-button value="4">4</md-radio-button>
                    <md-radio-button value="5">5</md-radio-button>
                </md-radio-group>
                <p>What type of flooring do you have?:</p>
                <md-radio-group ng-model="user.flooringType"  layout="row">
                    <md-radio-button value="Wood">Wood</md-radio-button>
                    <md-radio-button value="Carpet">Carpet</md-radio-button>
                    <md-radio-button value="Tile">Tile</md-radio-button>
                </md-radio-group>
                <md-input-container flex>
                    <label>Review</label>
                    <textarea ng-model="user.review"></textarea>
                </md-input-container>

                <md-button class="md-primary md-raised" ng-click="submitForm()">submit</md-button>
            </form>
        </md-content>
    </div>
</div>
